@font-face {
	font-family: "Roboto-Regular";
	src: local("Roboto-Regular"),
	url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Medium";
	src: local("Roboto-Medium"),
	url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Bold";
	src: local("Roboto-Bold"),
	url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "ProductSans";
	src: local("ProductSans"),
	url("./assets/fonts/ProductSans/ProductSans-Regular.ttf") format("truetype");
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.flex-one {
	flex: 1;
}

.bold {
	font-weight: bold;
}

.svlr-wrapper {
	overflow: hidden;
}

.ol-zoom .ol-zoom-out {
	margin-top: 204px;
}

.ol-control button {
	background-color: #1A73E8;
	opacity: 0.8;
}

.ol-control button:hover, .ol-control button:focus {
	opacity: 0.7;
	background-color: #1A73E8;
}

.ol-zoomslider {
	background-color: transparent;
	top: 2em;
}

.ol-touch .ol-zoom .ol-zoom-out {
	margin-top: 212px;
}

.ol-touch .ol-zoomslider {
	top: 2.75em;
}

.ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
.ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
	top: 3px;
}

.ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
.ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
	top: 232px;
}